GROQ_API_KEY=seu_groq_api_key_aqui
OMDB_API_KEY=seu_omdb_api_key_aqui
VITE_SPOTIFY_CLIENT_ID=seu_spotify_client_id_aqui
JWT_SECRET=seu_jwt_secret_aqui
TWITCH_CLIENT_ID=seu_client_id_aqui
TWITCH_CLIENT_SECRET=seu_client_secret_aqui
